@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --accent-clor: #0d6efd;
  --text-color: #333;
  --border-color: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 13px;
}

body {
  overflow-x: hidden;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  gap: 25px;
}

nav a{
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  position: relative;
}

nav a::after{
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease-in-out;
}

nav a:hover::after{
  width: 100%;
}